.logoContainer {
    height: 80%;
}

.border-radius-logo {
    border-radius: 50% !important;
}

.projet-footer{
    position: absolute;
    bottom: 50px;
    width: 90%;
}

.icon-align-btn{
    vertical-align: sub;
}